<a href="https://colab.research.google.com/github/trinhvanypro1/-DataAnalystDeepLearning/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Missing header

In [8]:
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv')
data.head(10)

     1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0  2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1  3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2  4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3  5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4  6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5  7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6  8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8  NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9  9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72

a. Add columns name for dataframe with information such as: (ID,Name,Age,Weight,m0006,m0612,m1218,f006,f0612,f1218)

In [14]:

data=pd.read_csv('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/patient_heart_rate.csv',names=['ID','Name','Age','Weight','m0006','m0612','m1218','f006','f0612','f1218'])
data.head(6)

    ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75
5  6.0     Huey McDuck  52.0      189lbs     -     -     -   68    75    72